body {
	position: relative;
	font-family: 'Helvetica', sans-serif;
}

html,
body,
#leafletMapid {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#leafletMapid {
	z-index: 0;
}

#key-modal {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.form {
	background-color: white;
	padding: 2em;
	padding-top: 1em;
	width: 50%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
}

.form h2 {
	text-align: center;
}

.form img {
	align-self: center;
	width: 150px;
	height: 80px;
}

#key-input {
	width: 100%;
	height: 4em;
	font-family: 'Courier New', Courier, monospace;
}

.form .bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#warning {
	color: red;
	visibility: hidden;
}

#warning.show {
	visibility: visible;
}

#topo-results-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	min-height: 200px;
	background-color: white;
	border: 1px solid grey;
	padding: 1em;
	display: none;
}

#topo-results-container h3 {
	margin: 0;
}

#topo-results {
	color: darkblue;
}

#codesandbox-container {
	display: none;
	align-self: flex-start;
	margin-top: 15px;
	margin-right: 20px;
	position: relative;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
}

#codesandbox-container h4 {
	text-align: right;
	position: absolute;
	left: -130px;
	opacity: 0;
	transition: all 0.5s;
	pointer-events: auto;
	color: white;
}

#codesandbox-container:hover h4 {
	text-justify: right;
	position: absolute;
	left: -135px;
	opacity: 1;
	transition: all 0.5s;
}

#codesandbox-container img {
	width: 35px;
	height: 40px;
	pointer-events: auto;
	filter: invert(1);
}

.leaflet-right.leaflet-top {
	display: flex;
	flex-direction: row;
}
